@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&family=Montserrat:wght@400;700&display=swap');

body {
    background-color: #f2ebff;
    font-family: 'Inter', sans-serif;
    margin: 0;
}

header {
    max-width: 1260px;
    margin: 20px 90px;
}

#main-title {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    display: inline-block;
}

#login-button {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    opacity: 0.8;

    float: right;
}

main {
    max-width: 1260px;
    height: 499px;
    margin: 92px 90px 107px 90px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

video {
    border: 1px solid #000000;
    border-radius: 10px;
    flex-basis: 826px;
    width: 826px;
    flex-shrink: 0.4;
    margin-right: 37px;
    object-fit: cover;
}

aside {
    display: flex;
    flex-direction: column;
    flex-basis: 395px;
    flex-shrink: 0.6;
}

.movie-title {
    display: flex;
    font-family: 'Montserrat', sans-serif;
    color: black;
    font-style: normal;
}

.name {
    font-weight: 700;
    font-size: 40px;
    line-height: 49px;
}

.rating {
    font-size: 20px;
    width: 44px;
    text-align: center;
    height: 29px;
    line-height: 29px;
    border: 1px solid #BBB8C0;
    border-radius: 6px;
    display: inline-block;
    margin-left: 20px;
    margin-top: 10px;
}

.sub-info {
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    margin-top: 10px;
    opacity: 0.6;
}

.description {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    margin-top: 30px;
}

table {
    font-style: normal;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 35px;
    margin-top: 15px;
    border-spacing: 0;
}

th {
    font-weight: 600;
    float: left;
}

th, td {
    line-height: 45px;
}

.buttons-container {
    display: flex;
    justify-content: space-between;
}

button {
    background: #F2EBFF;
    border: 1px solid #822DB4;
    border-radius: 8px;
    color: #822DB4;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    line-height: 19px;

    width: 180px;
    height: 50px;
}

button:hover {
    background: #822DB4;
    color: white;
}

#actors-section {
    max-width: 1260px;
    margin-top: 153px;
}

.section-header {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
}
#actors-list {
    display: flex;
    justify-content: space-between;
    width: 1260px;

    margin-top: 40px;
}

#actors-list article {
    border-radius: 10px;
    border: 1px solid #000;
}

#actors-list article img {
    object-fit: cover;
    width: 147px;
    height: 209px;
}

#actors-list article div {
    line-height: 36px;
    font-size: 15px;
    padding-left: 10px;
}



